.featured_card {
  display: flex;
  flex-direction: row;
  max-width: 20rem;
  max-height: 20rem;
  border: var(--border-card);
  border-top: 1.5px solid var(--highlight);
  background: var(--gradient);
  border-radius: 1rem;
  padding: 0;
  flex-grow: 1 1 auto;
  box-shadow: var(--shadow);
}

.featured_card:hover {
  background: var(--gradient-hover);
}

.feature_binder {
  width: 2rem;
  height: 100%;
  background-color: var(--bg-light);
  border-right: 1.5px solid var(--border-muted);
  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
}

.feature_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  flex: 1;
}
