:root {
  /* hsl (fallback color) */
 --bg-dark: hsl(52 69% 81%);
  --bg: hsl(52 95% 86%);
  --bg-light: hsl(52 100% 91%);
  --text: hsl(20 100% 4%);
  --text-muted: hsl(50 100% 9%);
  --highlight: hsl(51 100% 80%);
  --border: hsl(53 100% 20%);
  --border-muted: hsl(54 100% 31%);
  --primary: hsl(50 100% 9%);
  --secondary: hsl(244 47% 40%);
  --danger: hsl(6 60% 41%);
  --warning: hsl(52 100% 14%);
  --success: hsl(161 100% 13%);
  --info: hsl(217 62% 44%);
  --border-card: 1px solid var(--bg);

  /* gradients */
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15)
}

[data-theme="dark"] {
  /* hsl (fallback color) */
  --bg-dark: hsl(24 100% 1%);
  --bg: hsl(38 100% 2%);
  --bg-light: hsl(47 100% 4%);
  --text: hsl(52 100% 83%);
  --text-muted: hsl(51 42% 57%);
  --highlight: hsl(52 100% 14%);
  --border: hsl(50 100% 9%);
  --border-muted: hsl(46 100% 6%);
  --primary: hsl(52 71% 46%);
  --secondary: hsl(237 100% 84%);
  --danger: hsl(8 79% 66%);
  --warning: hsl(54 100% 31%);
  --success: hsl(156 68% 43%);
  --info: hsl(217 94% 69%);
  --border-card: 1px solid var(--border);
  /* gradients */
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15)
}
